<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='NewStyle.css') }}">
<nav>
  <ul class="horizontal">
      <li class="home"><a href="{{ url_for('home.index') }}">Home</a>
    {% if g.user %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li><a>{{ g.user['username'] }}</a>
    {% else %}
      <li class="register"><a href="{{ url_for('auth.register') }}">Register</a>
      <li class="log_in"><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">

  {% block content %}{% endblock %}

</section>