{% extends 'base.html' %}

{% block title %}Analyze{% endblock %}

{% block content %}
<script>
        function hide(alg) {
            document.getElementById(alg).style.display = "none";
        }
        function show(alg) {
            document.getElementById(alg).style.display = "block";
        }

        function yesnoCheck(algorithm) {
            if (algorithm.value == "VAD") {
                show("VAD");
                hide("Key_Words");
                document.getElementById('word').removeAttribute('required');
            }
            if (algorithm.value == "Key_Words") {
                show("Key_Words");
                document.getElementById('word').setAttribute('required', '');
                hide("VAD");
            }
        }






</script>

<div class="container">
    {% if g.user %}
    <pre>
        Hello {{ user_name }}!

        Right now there are two algorithms available for audio analyzing:

        1. VAD - Voice Activity Detector.
        2. Key Words - looking for specific words.

        We recommend using the first one when the file you want to analyze
        seems to contain a lot of "dead" parts like silence

    </pre>
    <p>analyze {{ file_name }}:</p>
    <form method="post">
        <label for="algorithm"><b>Choose an algorithm:</b></label>
        <select onchange="yesnoCheck(this);" name="algorithm" id="algorithm" required>
            <option value="VAD">VAD</option>
            <option value="Key_Words">Key Words</option>
        </select>
        <div id="VAD" style="display: block;">
            <p>VAD</p>
        </div>
        <div id="Key_Words" style="display: none;">
            <label><b>Choose word to search:</b></label>
            <input type="text" name="word" id="word" placeholder="Choose Word">
        </div>
        <button type="submit" class="submit_btn">analyze!</button>
    </form>
    {% endif %}
</div>{{answer}}</div>


{% endblock %}