{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload audio file{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="choose_upload">
        <a class="button choose" href={{url_for('files.upload')}}>Upload File</a>
        <a class="button upload" href={{url_for('files.choose_file')}}>Choose File</a>

        <!--<button class="choose_btn">Upload New File</button>-->
        <!--<button class="choose_btn">Choose File</button>-->
        <!--
        <a href={{url_for('files.upload')}}>Upload New File</a>
        <a href={{url_for('files.choose_file')}}>Choose File</a>-->
    </div>

{% endblock %}